{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link rel="stylesheet"  type="text/css" href="{% static '/css/AddApp.css' %}" >

</head>
<body>
<div class="header">
    <div class="inner_header">
        <div class="logo_container">
            <h1>SW Provision</h1>

        </div>
        <ul class="navigation">
            <li><a href="/dash/">Home </a></li>
            <li><a href="/app_page/">Applications</a></li>
            <li><a href="/user_page/">Users</a></li>
            <li><a href="/login/">Login</a></li>
        </ul>


    </div>
</div>

    <h1>Applications</h1>
</div>
    <div id="searchbar">
        <input type="text" id="search-input" placeholder="search application"/>
        <button class="btn2 btn-search" type="submit"> Search</button>
    </div>
    </div>


    <div class="app-list">
        <table class="list">
            <th>Name</th>
            <th>Status</th>
            <th>Update</th>
            <th>Remove</th>

            {% for i in app_page %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.status}}</td>
            <td><a href="{% url 'update' user.id %}">Update</a> </td>
            <td><a href="{% url 'delete' user.id %}">Remove</a> </td>

        </tr>
        {% endfor %}

        </table>
    </div>
</div>
</div>

<div class="fixed-btn">
    <button class="btn btn1"><a href="/add_app/" >Add App</a></button>

</div>



    </div>
</div>
</div>

</body>

</html>