{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link rel="stylesheet"  type="text/css" href="{% static '/css/AdminPage.css' %}" >
</head>
<body>
<div class="header">
    <div class="inner_header">
        <div class="logo_container">
            <h1>SW Provision</h1>
        </div>

    </div>

</div>


<h1>Dashboard</h1>
<div class="container">

    <button class="btn btn1"><a href="/user_page/">Users</a></button>
    <button class="btn btn2"><a href="/app_page/">Applications</a></button>
    <button class="btn btn3"><a href="/audit/"> Audit Log</a></button>
    <button class="btn btn4"><a href="/admin/">Admin Portal</a> </button>
</div>