{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link rel="stylesheet"  type=""text/css" href="{% static '/css/AdminPage.css' %}" />
</head>
<body>
<div class="header">
    <div class="inner_header">
        <div class="logo_container">
            <h1>SW Provision</h1>
        </div>

    </div>

</div>



<div class="container">
    <h1>Admin Dashboard</h1>
    <button class="btn btn1"><a href="/User/">Add User</a></button>
    <button class="btn btn2"><a href="/AddApp/">Add Applications</a></button>
    <button class="btn btn3"><a href="/Profile/"> User Assignment </a></button>
    <button class="btn btn4">Hover Me</button>
</div>