{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link rel="stylesheet"  type="text/css" href="{% static '/css/HomePage.css' %}" >
</head>
<body>

<div class="header">
    <div class="inner_header">
        <div class="logo_container">
            <h1>SW Provision</h1>
        </div>
    </div>
</div>
<form class="box" action= "{% url 'dash' %}">
    <h1>Sign In</h1>
    <input type="text" name="" placeholder="Username">
    <input type="password" name="" placeholder="Password">
    <input type="checkbox" class="chech-box"><span>Remember Password</span>
    <input type="submit" class="button_active" value="Submit" >
</form>


</body>

</html>
