{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link rel="stylesheet"  type="text/css" href="{% static '/css/User.css' %}" >
</head>
<body>
<div class="header">
    <div class="inner_header">
        <div class="logo_container">
            <h1>SW Provision</h1>

        </div>
        <ul class="navigation">
            <li><a href="/dash/">Home</a></li>
            <li><a href="/app_page/">Applications</a></li>
            <li><a href="/user_page/">User</a></li>
            <li><a href="/login/">Login</a></li>
        </ul>


    </div>
</div>
<h1>Users</h1>

<div id="searchbar">
    <input type="text" id="search-input" placeholder="search for application"/>
    <button class="btn2 btn-success" type="submit"> Search</button>
</div>

    <div class="card-body">
        <table class="table">
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Status</th>
            <th>Profile</th>

    {% for user in user_page %}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.uname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.status}}</td>
            <td><a href="{% url 'profile' user.id %}">View</a> </td>
        </tr>
    {% endfor %}

        </table>

        <div class="fixed-btn">
            <button class="btn btn1"><a href="/admin/applications/user/">Add User</a></button>

    </div>
</div>