body {
    margin: 0;
    padding: 0;
    font-family: Palatino;
    background: #525782;

}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: bisque;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;

}

.logo_container h1{
    color: #757AAA;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    text-transform: uppercase;
}


h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 40px;


}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn{
    background: bisque;
    border: 5px solid bisque;
    text-transform: uppercase;
    padding: 30px 30px;
    min-width: 300px;
    margin: auto 20px 20px;
    cursor: pointer;
    transition: color 0.4s linear;
    text-decoration-color: white;
}

.btn1,.btn2{
    color:  white;
    font-size: medium;
}

.btn3,.btn4{
    color: white;
    font-size: medium;
}

.btn1:hover,.btn2:hover{
    color: blue;
}

.btn3:hover,.btn4:hover{
    color: blue;
}



