body {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display";
    background: #525782;

}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: bisque;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;

}

.logo_container h1{
    color: #757AAA;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat";
    font-size: 50px;
    text-transform: uppercase;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #757aaa;
    text-align: center;

}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;

}

.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid bisque;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 0px;
    transition: 0.25s;

}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;

}


.chech-box{
    margin: 10px 10px 30px 0;
}

span{
    color: white;
    font-size: 12px;
    bottom: 155px;
    text-align: center;
}


.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid bisque;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
}